<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.example.astah.imoduru-selector.actionSet">
         <menu
               id="imoduru-selector"
               label="%menu_group"
               path="tool/imoduru-selector">
         </menu>
         <action
                 label="%select_inheritance_menu_label"
                 icon="icons/sample.gif"
                 class="com.example.astah.SelectInheritanceAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/imoduru-selector/"
                 id="imoduru-selector.select-inheritance">
         </action>
         <action
                 label="%select_menu_label"
                 icon="icons/sample.gif"
                 class="com.example.astah.TemplateAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/imoduru-selector/"
                 id="imoduru-selector.select">
         </action>
     </actionSet>
   </extension>
</plugin>
